<div class="col-lg-12 text-center fixed-header">
    <span style="font-size: 20px; color: #f37067; font-weight: 500;">{{agentNotice.MessageType}}</span>
</div>

<div class="agent-locator-container">
    <div class="card" style="width: 100%;">
        <div class="col-lg-12 agent-notice">
            <div class="card-body">
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">{{agentNotice.Title}}</h4>
                        <p class="card-date mb-0">{{agentNotice.InsertedDate}}</p>
                    </div>
                </div>
                <div class="row">
                    <h4 class="card-message d-flex justify-content-center">{{agentNotice.Message}}</h4>
                </div>
            </div>
        </div>
        
        <div class="image-container">
            <img src="https://fastly.picsum.photos/id/3/5000/3333.jpg?hmac=GDjZ2uNWE3V59PkdDaOzTOuV3tPWWxJSf4fNcxu4S2g" alt="Notification Image" class="notification-img">
        </div>
    </div>

 
</div>
