<div class="container recharge-page">
   <!--      <app-agent-balance></app-agent-balance> -->
    <app-agent-balance (agentBalanceChanged)="updateAgentBalance($event)"></app-agent-balance>

    <!-- Display the received amount and agent balance -->
    <!-- <p>Received Amount: {{ receivedAmount }}</p>
<p>Agent Balance: {{ agentBalance }}</p> -->
    <div class="main">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <button type="button" class="bkash-btn" (click)="CreateBkashPayment()"><img class="img-b" src="./assets/images/BkashPayment.gif"
                        alt="" ></button>
            </div>
            <div class="col-md-12 col-sm-12">
                <button type="button" class="nagad-btn" (click)="CreateNagadPayment()"><img class="img-n" src="./assets/images/nagad.png"
                        alt="" ></button>
            </div>
            <div class="col-md-12 col-sm-12">
                <button type="button" class="shurjoPay-btn" (click)="CreateShurjoPayPaymemt()"><img class="img-s" src="./assets/images/shurjoPay.png"
                        alt="" ></button>
            </div>
         <!--    <div class="col-md-12 col-sm-12">
                <button type="button" class="payment-btn">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-2">
                            <img class="img-ae" src="./assets/images/american_express.png" alt="">
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            <img class="img-2" src="./assets/images/mastercard.png" alt="">
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            <img class="img-v" src="./assets/images/visa.png" alt="">
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            <img class="img-2" src="./assets/images/islami_bank.png" alt="">
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            <img class="img-r" src="./assets/images/rocket.jpg" alt="">
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            <img class="img-2" src="./assets/images/dbbl.png" alt="">
                        </div>
                    </div>
                </button>
            </div> -->
        </div>
        <div class="footer">
            <h2 class="recharge_amount" style="margin-right: 5px;">Recharge Amount:</h2>
            <p class="amount"><span> &#2547;</span><span>{{ receivedAmount }}</span></p>

        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->