
.main {
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.lable_Recharge {
    font-size: 18px;
    margin: 10px 0px;
}
.row {
    margin-top: 10px;
}
.form-control{
    height: 45px;
}
.bkash-btn{
    background-color: white ;
    width: 100%;
    height: 70px;
    float: left;
    color: #f37067;
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
    border: 2px solid #f1f1f1;
    margin-bottom: 10px;
}
.nagad-btn{
    background-color: white ;
    width: 100%;
    height: 70px;
    float: left;
    color: #f37067;
    // border-radius: 0px;
    border: 2px solid #f1f1f1;
    margin-bottom: 10px;
}
.shurjoPay-btn{
    background-color: white ;
    width: 100%;
    height: 70px;
    float: left;
    color: #f37067;
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    border: 2px solid #f1f1f1;
    margin-bottom: 10px;
}
.footer{
    height: 100px;
    background-color: #1a3a54;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #bcbcbc;
}
.recharge_amount{
    color: #f1f1f1;
    margin: 0px;
    font-size: 18px;
    margin-right: 5px;
}
.amount, .amount span{
    color: #f1f1f1;
    margin: 0px;
    font-size: 18px;
    padding-right: 3px;
}
.img-b{
    height: 55px;
    width: 205px;
}
.img-n{
    height: 55px;
    width: 90px;
}
.img-s{
    height: 45px;
    width: 90px;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 768px) {
    .bkash-btn{
        height: 60px;
    }
    .nagad-btn{
        height: 60px;
    }
    .shurjoPay-btn{
        height: 60px;
    }
    .payment-btn{
        height: 60px;
    }
    .title_number {
        font-size: 15px;
        margin-left: 20px;
    }
    .title_balance {
        font-size: 15px;
        margin-right: 20px;
    }
    .p-num {
        margin-left: 20px;
        font-size: 15px;
    }
    
    .p-balance {
        margin-right: 20px;
        font-size: 13px;
    }  
    .lable_Recharge{
        font-size: 16px;
    }
    .payment-btn{
        height: 60px;
    }
    .col-sm-4{
        padding-right: 0px;
    }
    .img-b{
        height: 60px;
        width: 180px;
        margin-top: -10px;
    }
    .img-n{
        height: 60px;
        width: 100px;
        margin-top: -5px;
    }
    .img-s{
        height: 35px;
        width: 100px;
        margin-top: -5px;
    }
    tr > td{
        font-weight: 600;
    }
    .footer{
        height: 80px;
    }
    .recharge_amount{
        font-size: 17px;
    }
    .amount, .amount span{
        font-size: 15px;
    }
}

