.footer{
    background-color: #1a3a54;
    margin-top: 20px;
    padding: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
}