<div class=" container agent-page">
    <div class="container agent_header">
        <div class="row">
            <div class="col-12">
                <h5 id="agent_title">Agent Wallet</h5>
            </div>       
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <h3 class="title-1">এজেন্ট হতে চান?</h3>
        </div>
        <div class="col-12">
            <p class="text-1">একজন এজেন্ট হিসেবে আপনি শুধুমাত্র ব্রিলিয়ান্ট গ্রাহকদের কাছে টপ-আপ করে অর্থ উপার্জন করতে পারেন। আপনি যত বেশি টপ-আপ করবেন, তত বেশি আয় করবেন!</p>
        </div>
    </div>
    <div class="container terms_conditions">
        <h3 class="title-2">নিয়ম ও শর্তাবলী</h3>
        <ul class="text-2">
            <li> ব্রিলিয়ান্ট এজেন্ট হওয়ার জন্য জামানতের ৳১০০০(এক হাজার টাকা)পেমেন্ট(বিকাশ,নগদ,রকেট এবং অন্যান্য মাধ্যমে)করে এজেন্টশীপের জন্য আবেদন করতে হবে। </li>
            <li>
                নির্বাচিত হওয়ার পর,এজেন্ট জামানত হিসাবে ৳১০০০ (এক হাজার টাকা) জমা রাখবে এবং এজেন্ট প্রতি ০৩ (তিন) মাস পর পর ৳১৭৫০ (এক হাজার সাতশত পঞ্চাশ টাকা) রিচার্জ টার্গেট পূরণে ব্যর্থ হলে উক্ত জামানত বাজেয়াপ্ত সহ চুক্তি বাতিল হবে তবে এজেন্ট যদি পুনরায় ৳১০০০ (এক হাজার টাকা) জামানত হিসাবে প্রদান করে তাহলে আবার এজেন্টের সাথে চুক্তি স্বয়ংকৃতভাবে শুরু হবে ।
            </li>
            <li>রিচার্জ শুধুমাত্র নগদ/বিকাশ, ব্যাংক এবং ডেবিট/ক্রেডিট কার্ড থেকে অনুমোদিত।</li>
            <li>এজেন্টের প্রদত্ত সকল অফার (ডিসকাউন্ট/বোনাস) এর জন্য একক ভাবে দায়বদ্ধ থাকবে। কোম্পানি কোনোভাবেই এর দায়িত্ব গ্রহণ করবে না।</li>
            <li>আইন প্রয়োগকারী সংস্থা এবং বিটিআরসি হতে জিজ্ঞাসাকৃত যেকোনো প্রয়োজনীয় তথ্য স্পষ্টভাবে জানাতে এজেন্ট সর্বদা প্রথম পক্ষকে সাহায্য করবে।</li>
            <li>ভ্যাট এবং ট্যাক্স সংক্রান্ত সকল খরচ এজেন্ট নিজে বহন করবে।</li>
            <li>এজেন্টের কৃত কোনো কর্মের জন্য ইন্টারক্লাউড লিমিটেড দায়ী থাকবে না।</li>
            <li>দ্বিতীয় পক্ষ প্রথম পক্ষের একজন সাধারণ এজেন্ট ছাড়া আর কিছু নয়।</li>
            <li>এজেন্ট প্রথম ৬ মাসের  মধ্যে চুক্তি বাতিল করতে পারবে না।</li>
            <li>ইন্টারক্লাউড লিমিটেড এর ব্রিলিয়ান্ট কানেক্ট গ্রাহকদের কাছে এজেন্ট এর নাম,ঠিকানা, ফোন নম্বর প্রকাশ করবে যেন গ্রাহকগণ তাদের নিকটস্থ এজেন্টদের খুঁজে পান।</li>
            <li>প্রমাণ সাপেক্ষে কোনো প্রতারণামূলক কার্যকলাপ পরিলক্ষিত হলে কোম্পানি কর্তৃক এজেন্ট-শীপ বাতিলের ক্ষেত্রে জামানত ফেরতযোগ্য নয়।</li>
        </ul>
    </div>
    <div class="container form-check ">
        <input class="form-check-input check-policy" type="checkbox" value="" id="myCheckbox" [(ngModel)]="checkboxChecked">
        <label class="form-check-label" for="flexCheckDefault">
            উপরে উল্লেখিত নিয়ম ,শর্তাবলী এবং সংযুক্ত চুক্তিপত্রটি আমি পড়েছি, বুঝেছি এবং একমত হয়েছি।
        </label>
    </div>
    <div class="container ">
        <div class="col-md-12 col-sm-12 col-12 button">
            <button type="button" [disabled]="checkboxChecked == true ? false : true" [ngClass]="{'apply-btn': checkboxChecked === true, 'apply-btn-disabled' : checkboxChecked === false }"   (click)="Submit()">APPLY NOW</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>


