<div class=" container agent-page">
  <div class="agent_header">
    <div class="row">
      <div class="col-12">
        <h5 id="agent_title">Agent Wallet</h5>
      </div>
    </div>
  </div>
  <div class="container registration-main">
    <div class="row">
      <div class="col-lg-12 agent-info">
        <div class="col-lg-12 agent-name">
          <span>Phone Number: </span> {{phoneNumber}}
        </div>

      </div>
    </div>

    <form [formGroup]="regDtoForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="FullName" placeholder="Enter Your Name" required />
          <div *ngIf="regDtoForm.get('FullName')?.touched && regDtoForm.get('FullName')?.invalid">
            <small class="text-danger">Name is required.</small>
          </div>

          <select id="selectedDivision" formControlName="Division" class="form-control"
            (change)='GetdistrictByDivisionId($event)' required>
            <option selected disabled value="">Select your Division</option>
            <option *ngFor="let item of division" [value]="item.Id">{{item.Name+' ('+item.NameInBangla+')'}}</option>
          </select>
          <div *ngIf="regDtoForm.get('Division')?.touched && regDtoForm.get('Division')?.invalid">
            <small class="text-danger">Division is required.</small>
          </div>

          <select id="selectedDistrict" formControlName="District" class="form-control"
            (change)='GetSubDistrictByDistrictId($event)' required>
            <option selected disabled value="">Select your District</option>
            <option *ngFor="let item of district" [value]="item.Id">{{item.Name+' ('+item.NameInBangla+')'}}</option>
          </select>
          <div *ngIf="regDtoForm.get('District')?.touched && regDtoForm.get('District')?.invalid">
            <small class="text-danger">District is required.</small>
          </div>

          <select id="selectedUpaZila" formControlName="SubDistric" class="form-control" required>
            <option selected disabled value="">Select your Thana</option>
            <option *ngFor="let item of subDistrict" [value]="item.Id">{{item.Name+' ('+item.NameInBangla+')'}}</option>
          </select>
          <div *ngIf="regDtoForm.get('SubDistric')?.touched && regDtoForm.get('SubDistric')?.invalid">
            <small class="text-danger">Thana is required.</small>
          </div>

          <input type="text" class="form-control" formControlName="Postalcode" placeholder="Postal Code" required />
          <div *ngIf="regDtoForm.get('Postalcode')?.touched && regDtoForm.get('Postalcode')?.invalid">
            <small class="text-danger">Postal Code is required and must be less than 5 digits.</small>
          </div>

          <input type="text" class="form-control" formControlName="Address" placeholder="Address" required />
          <div *ngIf="regDtoForm.get('Address')?.touched && regDtoForm.get('Address')?.invalid">
            <small class="text-danger">Address is required.</small>
          </div>

          <input type="text" class="form-control" formControlName="ShopName" placeholder="Shop Name and Address" />

          @if(regDtoForm.valid){
          <button type="submit" class="submit-btn" id="agentSubmit">Submit</button>
          }@else {
          <button type="submit" class="submit-btn2" id="agentSubmit2" [disabled]="regDtoForm.invalid">Submit</button>
          }

        </div>
      </div>
    </form>

  </div>
</div>