<!-- <div class="container agent_page">
    <div class="row">
        <div class="col-8">
            <h5 id="agent_title">Agent Wallet </h5>
        </div>
        <div class="col-4">
         <div class="notification">
            <i class="bi bi-bell"></i>
            <span class="notification-count">5</span>
          </div>
        </div>
    </div>
</div> -->

<div class="container agent_page">
    <div class="row">
        <div class="col-8">
            <h5 id="agent_title">Agent Wallet</h5>
        </div>
        <div class="col-4">
            <div class="notification" routerLink="notice-board">
                <i class="bi bi-bell-fill" style="color:#f37067;"></i>
                <span class="notification-count">5</span>
            </div>
        </div>
    </div>
</div>