<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <!-- Adjusting the maxRequestLength and adding maxQueryStringLength for longer URLs and query strings -->
    <httpRuntime maxRequestLength="8192" maxQueryStringLength="20480" />
  </system.web>
  <system.webServer>
    <security>
      <!-- Enabling request filtering and setting limits for max content length, URL length, and query string length -->
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="30000000" maxUrl="4096" maxQueryString="20480" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!-- Rule for Angular routes to rewrite URLs to index.html -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/AgentWalletWeb/index.html" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument enabled="true" />
  </system.webServer>
</configuration>