<div class="container recharge-page">
    <div class="main">
      <div class="search row">
        <div class="col-md-12 col-sm-12 col-12">
          <button type="button" class="add-btn" routerLink="../sub-agent-registration" >Add Sub-Agent</button>
        </div>
      </div>
      <div class="listTitle">SUB-AGENT LIST</div>
      <div class="details" style="height: 380px; overflow-y: scroll;">
        <table class="table table-hover table-striped">
          <thead style="text-align: center;">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr *ngFor="let item of SubAgentsSummaryDto">
              <td style="color: #1a3a54; font-weight: 500;" scope="row"><span>{{ item.FullName }}</span></td>
              <td style="color: #1a3a54; font-weight: 500;"><span>{{ item.PhoneNumber }}</span></td>
              <td style="color: #1a3a54; font-weight: 500;"><span>{{ item.Status }}</span></td>
              <td><button type="button" class="view-btn" (click)="ShowDetails(item)">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  